.day-page {
    text-align: center;
}
.day-page-style {
    color: red;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.day-page > form, .todo-item {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
}
.day-page > form > input {
    margin-bottom: 10px;
    width: 100%;
    background-color: inherit;
    border: 2px solid white;
    padding: 10px;
    outline: none;
}
.change-todo {
    display: flex;
    justify-content: space-evenly;
}
.change-todo > .submit {
    width: 150px;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    background-color: inherit;
    background: transparent;
    border-radius: 10%;
    border-color: rgba(144, 185, 107, 0.5);
    font-size: 18px;
}
.change-todo > .submit:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.change-todo > .submit:active {
    background: transparent;
}
.todo-item {
    border: 1px solid white;
}
.day-page .todo-item {
    text-align: left;
    margin-bottom: 10px;
    border: 2px solid white;
    padding: 10px;
}
.todo-item-title {
   font-size: 20px;
   font-weight: 600;
}