.day {
    text-align: center;
    width: 14.28%;
    font-size: 18px;
  }
  .day.has-todos {
    background-color: red;
    border-radius: 50%;
    color: black !important;
  }
  .day:nth-child(7n) {
    color: red;
  }
  .day:nth-child(7n+1) {
    color: red;
  }
  .day:nth-child(7n):hover {
    color: blue;
  }
  .day:nth-child(7n+1):hover {
    color: blue;
  }
  a > .today {
      background-color: rgba(255, 0, 0, 0.4);
      border-radius: 50%;
      color: black;
  }
  a > .today:hover {
    color: blue;
  }
  .day:nth-child(7n).today,
  .day:nth-child(7n+1).today {
    color: black;
  }
  