* {
  box-sizing: border-box;
}
html {
  background: url(./components/yearpage/fon1.jpg) no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: blue;
}
