.month {
  width: 25%;
  padding: 10px; 
}
.month-page {
  display: flex;
  justify-content: center;
}
.month-page .month {
  width: 33.33%;
}
.month-page .month-body-title,  .month-page .month-body-day {
  font-size: 40px;
}
.month-page .month-head {
  font-size: 40px;
}
.month-head {
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(255, 247, 10, 0.5);
  border-radius: 5px;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}

.month-body {
  display: flex;
  flex-wrap: wrap;
}
.month-body-title {
  text-align: center;
  width: 14.28%;
  font-size: 20px;
  
}
.month-body-title:nth-child(7n) {
  color: red;
}
.month-body-title:nth-child(7n+1) {
  color: red;
}